//layout vars
$container-width: 960px;
$footer-height: 435px;

//colors
$white-color: #fff;
$light-gray-color: #999;
$gray-color: #4a4a4a;
$dark-gray-color: #333;
$light-red-color: #d54346;
$red-color: #631618;
$dark-red-color: #871f21;

//layout
@import "layout/normalize";
@import "layout/adjustment";
@import "layout/fonts";

//sections
@import "sections/footer";
@import "sections/header";
@import "sections/main";
@import "sections/aside";

// media
@import "media/desktop";
@import "media/laptop";
@import "media/tablets";
@import "media/phones";