.footer {
	background-color: $light-red-color;
}

.footer-main {
	border-top: 5px solid $dark-red-color;
	padding: 30px 0;
	border-bottom: 1px solid #b7282c;
}

//**footer-information**

.footer-information {
	width: 31.25%;
	float: left;
	color: $white-color;
}

.footer-about {
	height: 140px;
	overflow: hidden;
}

.footer__title {
	font-size: 12px;
	text-transform: uppercase;
	color: $white-color;
}

.footer-about__text {
	margin-top: 15px;
	max-height: 80px;
	overflow: hidden;
	line-height: 1.6;
}

.footer-about__button,
.footer-blog__button {
	margin-top: 10px;

}

.footer-about__link,
.footer-blog__link {
	text-decoration: none;
	color: $red-color;

	&:hover {
		color: #000;
		font-weight: bold;
	}
}

.footer-blog {
	margin-top: 30px;
	height: 150px;
	overflow: hidden;
}

.footer-blog__title {
	margin-top: 10px;
	font-size: 14px;
}

.footer-blog__date {
	font-size: 10px;
}

.footer-blog__text {
	line-height: 1.6;
	max-height: 60px;
	overflow: hidden;
}

//**footer-links**

.footer-links {
	float: left;
	width: 31.25%;
	margin-left: 3.125%;
}

.footer-links__list {
	margin-top: 15px;
}

.footer-links__item {
	display: block;
	border-bottom: 1px solid #d85255;
	padding: 5px 0;

	&:first-child {
		padding-top: 0;
	}

	&:hover .footer-links__title {
		color: #ee802f;
	}
}

.footer-links__link {
	text-decoration: none;
	color: $red-color;
	font-size: 12px;
	display: block;
}

.footer-links__mark {
	margin-right: 5px;
	color: $white-color;
}

.footer-links__title {
	transition: .3s;
}

//**footer-form**

.footer-form {
	float: left;
	width: 31.25%;
	margin-left: 3.125%;
}

.footer-form__text {
	color: $white-color;
	margin-top: 15px;
}

.newsletter-form {
	margin-top: 20px;
}

.newsletter-form__input {
	width: 100%;
	border-radius: 5px;
	border: 0;
	margin-bottom: 10px;
	padding: 8px 10px;
	outline: none;
}

.newsletter-form__submit {
	text-transform: uppercase;
	color: $white-color;
	background-color: $dark-red-color;
	border: 0;
	border-radius: 5px;
    padding: 8px 16px 8px 15px;
    transition: .3s;

    &:hover {
    	background-color: #ec171c;
    	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    	cursor: pointer;
    }
}

.footer-contacts {
	margin-top: 30px;
	font-size: 12px;
}

.footer-contacts__telephone {
	display: block;
	margin-top: 15px;
	text-decoration: none;
	color: $white-color;

	&:hover {
		color: #ee802f;
	}
}

.footer-contacts__email {
	display: block;
	text-decoration: none;
	color: $white-color;

	&:hover {
		color: #ee802f;
	}
}

//**copyright**

.copyright {
	border-top: 1px solid #db6063;
	font-size: 12px;
	color: $white-color;
	padding-top: 15px;
}

.copyright__left, .copyright__right {
	width: 50%;
}

.copyright__left {
	float: left;
}

.copyright__right {
	text-align: right;
	float: right;
}