.team {
	margin-top: 46px;
	padding-bottom: 50px;
	background: url(../img/bg/line.png) bottom center no-repeat;
}

.team__title {
	text-align: center;
	font-size: 38px;
	color: $gray-color;
}

.team__text {
	text-align: center;
	font-size: 26px;
	color: $light-gray-color;
}

.profile {
	margin-top: 40px;
}

.profile__list {
	margin-left: -20px;
	font-size: 0;

	& * {
		font-size: 13px;
	}
}
.profile__item {
	width: 225px;
	overflow: hidden;
	margin-left: 20px;
	margin-bottom: 20px;
	display: inline-block;
	vertical-align: top;

	&:hover .profile__description {
		font-weight: bold;
		font-size: 14px;
	}

	&:hover .profile__pic {
		transform: scale(1.1);
	}
}

.profile__link {
	text-decoration: none;
	display: block;
	text-align: center;
}

.profile__pic {
	height: 225px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	transition: .3s;
}

.profile__img{
	position: absolute;
	top: 0;
	left: -9999px;
}

.profile__description {
	margin-top: 20px;
}
.profile__name {
	color: $light-gray-color;
	transition: .3s;
}

.profile__view {
	margin-top: 5px;
	color: $light-red-color;
	transition: .3s;
}
